# dependencies
node_modules/
.pnpm-store/

# builds
dist/
build/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local

# editor / os
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# test / coverage
coverage/

# pwa generated
apps/web/dev-dist/
